/*Universal style*/
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Quicksand', sans-serif;
  }

  .brand-logo {
    font-family: 'Fredericka the Great', cursive;
  }

  /*navbar*/
  nav {
      background-color: white;
      filter: opacity(0.9);
  }

  .nav-text {
    color: #7e57c2;
  }

  nav .brand-logo {
    color: #7e57c2;
  }
  
  .button-collapse {
    color: #7e57c2;
  }

  /*Introduction*/

.purple-div {
    background: rgba(149, 117, 205, 0.5);
}

  .image-div {
    background-image: url('../assets/img/driveway.jpg');
    z-index: 1; 
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
  }

  @media (max-width: 768px) { 
    .image-div {
        background-image: url('../assets/img/driveway.jpg');
        z-index: 1; 
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
        width: 100%;
      }
   }

  .personal-statement {
    padding-top: 2em;
    color: #fff;
    font-weight: 800;
    font-size: 80px;
  }

  @media (max-width: 768px) { 
    .personal-statement {
    padding-top: 0.8em;
    color: #fff;
    font-weight: 800;
    font-size: 65px;
  }
   }

   /*about me section*/

   .white-background {
    height: 100vh;
   }

   .name {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 35px;
   }

   .first-image {
     position: relative;
     width: 25em;
     filter: grayscale(0.9);
   }

   .description {
       font-size: 19px;
       font-weight: 500;
       line-height: 1.9em;
   }

   @media (max-width: 991px) { 
    .description {
      font-size: 19px;
      font-weight: 500;
      padding-top: 100em;
    }
  }

   /*Portafolio*/

   .second-image-div {
    background-image: url('../assets/img/busy-city.jpg');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 113vh;
    width: 100%;
  }

  .second-purple-div{
    background: rgba(126, 87, 205, 0.5);
    height: 113vh;
  }

  @media (max-width: 991px) { 
    .second-purple-div{
      background: rgba(149, 117, 205, 0.5);
      width: 100%;
    }
  }

  .title-white {
    margin: 1.2em;
    font-size: 35px;
    font-weight: 500;
    color: white;
  }

  .btn-large{
    background-color: #263238;
    color: #eeeee;
  }

  .btn-large:hover{
    background-color: #607d8b;
    color: #eeeee;
  }

  .btn-large:active{
    background-color: #263238;
    color: #eeeee;
  }

  /*skills*/

  .skills-title {
    padding: 0.7em;
  }

  .icon-size{
    width: 8em;
  }

  /*Footer*/
  .page-footer{
    background-color: #7e57c2;
  }

  .footer-copyright {
    background-color: #673ab7 !important;
  }

  a {
    list-style: none;
    color: #fff;
  }